@font-face {
  font-family: 'Monsterrat';
  src: local('Montserrat'),
    url(../../assets/fonts/Montserrat/Montserrat-Regular.ttf) format('truetype');
}

.text {
  font-family: 'Montserrat', sans-serif;
}

.battle-text {
  margin-bottom: 5px;
}

.begin-battle {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.bold {
  font-weight: bold;
}
